<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>

    <div th:replace="~{fragments/header::header-css}"></div>

</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/header::header}"></div>

<div class="flex-grow-1 container-fluid">
    <div class="d-flex justify-content-between align-items-center mx-5 my-2">
        <h1>Products</h1>
        <div class="d-flex col-3 justify-content-around" sec:authorize="hasAnyAuthority('MANAGER')">
            <button class="btn btn-outline-primary" onclick="printReport()">Print Report</button>
            <a class="btn btn-primary" th:href="@{/product/new}">Add new</a>
        </div>
    </div>
    <div class="container mx-auto">
        <table class="table table-striped" id="report-table">
            <thead>
            <tr>
                <th class="col-1">#</th>
                <th>Name</th>
                <th>Characteristics</th>
                <th>Category</th>
                <th class="col-1" sec:authorize="hasAnyAuthority('MANAGER')"></th>
                <th class="col-1" sec:authorize="hasAnyAuthority('MANAGER')"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.characteristics}"></td>
                <th th:text="${categories.get(product.categoryId).name}"></th>
                <td class="not-printable" sec:authorize="hasAnyAuthority('MANAGER')">
                    <a class="btn btn-warning" th:href="@{/product/edit/{id}(id=${product.id})}">Edit</a>
                </td>
                <td class="not-printable" sec:authorize="hasAnyAuthority('MANAGER')">
                    <a class="btn btn-danger" th:href="@{/product/delete/{id}(id=${product.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    const REPORT_TITLE = "Products report"
</script>

<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>