<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet"
              type="text/css"/>
        <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
        <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
        <script src="/webjars/popper.js/2.9.3/umd/popper.js" type="text/javascript"></script>


        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Zlagoda</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/}">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>