<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <div th:fragment="show-password-css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              rel="stylesheet">
    </div>
</head>
<body>
<div th:fragment="show-password-function">
    <script>
        function toggleShowPassword() {
            const passwordField = document.getElementById("password");
            const eyeIcon = document.getElementById("eye-icon")
            if (passwordField.type === "password") {
                passwordField.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }
        }
    </script>
</div>

</body>
</html>