<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>

    <div th:replace="~{fragments/header::header-css}"></div>

</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/header::header}"></div>

<div class="flex-grow-1 container-fluid">
    <div class="d-flex justify-content-between align-items-center mx-5 my-2">
        <h1>Employees</h1>
        <div class="d-flex col-3 justify-content-around" sec:authorize="hasAnyAuthority('MANAGER')">
            <button class="btn btn-outline-primary" onclick="printReport()">Print Report</button>
            <a class="btn btn-primary" th:href="@{/employee/new}">Add new</a>
        </div>
    </div>
    <table class="table table-hover" id="report-table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Patronymic</th>
            <th>Role</th>
            <th>Salary</th>
            <th>Date of birth</th>
            <th>Date of start</th>
            <th>Phone number</th>
            <th>City</th>
            <th>Street</th>
            <th>Zip code</th>
            <th></th>
            <th sec:authorize="hasAnyAuthority('MANAGER')"></th>
            <th sec:authorize="hasAnyAuthority('MANAGER')"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}" th:id="${'row-' + employee.id}">
            <td th:text="${employee.username}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.surname}"></td>
            <td th:text="${employee.patronymic}"></td>
            <td th:text="${employee.role}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${employee.dateOfBirth}"></td>
            <td th:text="${employee.dateOfStart}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <td th:text="${employee.city}"></td>
            <td th:text="${employee.street}"></td>
            <td th:text="${employee.zipCode}"></td>
            <td class="not-printable">
                <a class="btn btn-success" th:href="@{/employee/view/{id}(id=${employee.id})}">View</a>
            </td>
            <td class="not-printable" sec:authorize="hasAnyAuthority('MANAGER')">
                <a class="btn btn-warning" th:href="@{/employee/edit/{id}(id=${employee.id})}">Edit</a>
            </td>
            <td class="not-printable" sec:authorize="hasAnyAuthority('MANAGER')">
                <a class="btn btn-danger"
                   th:href="@{/employee/delete/{id}(id=${employee.id})}"
                   th:if="${#authentication.name!=employee.username}">Delete</a>
                <a class="btn btn-danger disabled"
                   disabled href="#" th:if="${#authentication.name==employee.username}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script type="text/javascript">
    const REPORT_TITLE = "Employees report"
</script>

<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>