<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Employee</title>

    <div th:replace="~{fragments/header::header-css}"></div>
    <div th:replace="~{fragments/show-password::show-password-css}"></div>

</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/header::header}"></div>

<div class="container-sm flex-grow-1">

    <div class="card mt-5">
        <div class="card-header">
            <h3 class="card-title">Employee Information</h3>
        </div>
        <div class="card-body">
            <h5>ID: <span th:text="${employee.id}"></span></h5>
            <p class="card-text">
                <strong>Username:</strong> <span th:text="${employee.username}"></span><br>
                <strong>Name:</strong> <span th:text="${employee.surname}"></span> <span
                    th:text="${employee.name}"></span> <span th:text="${employee.patronymic}"></span><br>
                <strong>Role:</strong> <span th:text="${employee.role}"></span><br>
                <strong>Salary:</strong> <span th:text="${employee.salary}"></span><br>
                <strong>Date of Birth:</strong> <span th:text="${employee.dateOfBirth}"></span><br>
                <strong>Date of Start:</strong> <span th:text="${employee.dateOfStart}"></span><br>
                <strong>Phone Number:</strong> <span th:text="${employee.phoneNumber}"></span><br>
                <strong>Address:</strong> <span th:text="${employee.city}"></span>, <span
                    th:text="${employee.street}"></span>, <span th:text="${employee.zipCode}"></span>
            </p>
        </div>
    </div>

    <div th:if="${employee.role == 'CASHIER'}">
        <div class="d-flex justify-content-between align-items-center mx-5 my-2">
            <h2>Cashier Checks</h2>
            <div class="d-flex col-3 justify-content-around">
                <button class="btn btn-outline-primary" onclick="printCheckReport()"
                        sec:authorize="hasAnyAuthority('MANAGER')">Print Report
                </button>
            </div>
        </div>
        <table class="table  table-hover" id="report-table">
            <thead>
            <tr>
                <th>Check number</th>
                <th>Customer card</th>
                <th>Print date</th>
                <th>Total sum</th>
                <th>VAT</th>
                <th class="not-printable"></th>
                <th class="not-printable" sec:authorize="hasAnyAuthority('MANAGER')"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="check : ${checks}">
                <td th:text="${check.checkNumber}"></td>
                <td><a th:href="@{/customer/card#row-} + ${check.cardNumber}"
                       th:text="${check.cardNumber}"></a></td>
                <td th:text="${check.printDate.format(formatter)}"></td>
                <td th:text="${check.totalSum}"></td>
                <td th:text="${check.vat}"></td>
                <td class="not-printable">
                    <a class="btn btn-success" th:href="@{/check/view/{id}(id=${check.checkNumber})}">View</a>
                </td>
                <td class="not-printable" sec:authorize="hasAnyAuthority('MANAGER')">
                    <a class="btn btn-danger" th:href="@{/check/delete/{id}(id=${check.checkNumber})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <script th:inline="javascript" type="text/javascript">
        const REPORT_TITLE = "Check cashier report with id = " + [[${employee.id}]];
    </script>
</div>


<div th:replace="~{fragments/print-check-report::print-check-report}"></div>
<div th:replace="~{fragments/footer::footer}"></div>
<div th:replace="~{fragments/show-password::show-password-function}"></div>

</body>
</html>