<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Check</title>

    <div th:replace="~{fragments/header::header-css}"></div>

</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/header::header}"></div>

<div class="container-sm flex-grow-1">
    <h1>Create Check</h1>
    <form method="post" th:action="@{/check/new}" th:object="${check}">
        <div th:if="${errors != null}">
            <div class="alert alert-danger">
                <ul>
                    <li th:each="error : ${errors}" th:text="${error.getDefaultMessage()}"></li>
                </ul>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="cardNumber">User card number:</label>
            <select class="form-select" id="cardNumber" th:field="*{cardNumber}">
                <option th:value="${null}">Choose card</option>
                <option th:each="customerCard : ${customerCards.values()}" th:text="${customerCard.cardNumber}"
                        th:value="${customerCard.cardNumber}"></option>
            </select>
            <p>Discount: <span id="userCardDiscount">0</span>%</p>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">UPC</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price for one</th>
                <th scope="col">Amount</th>
                <th scope="col">Sum</th>
                <th scope="col" th:text="${'VAT(' + (vatCoefficient * 100) + '%)'}"></th>
                <th scope="col"></th>
            </tr>
            <thead>
            <tbody id="salesTable">
            <tr th:each="sale, saleStat : *{sales}">
                <td><label>
                    <input class="form-control-plaintext"
                           th:field="*{sales[__${saleStat.index}__].storeProductUpc}"
                           th:name="|sales[${saleStat.index}].storeProductUpc|"
                           th:value="${sale.storeProductUpc}" type="text"/>
                </label></td>
                <td th:text="${storeProducts.get(sale.storeProductUpc).product.name}"></td>
                <td th:text="${sale.sellingPrice}"></td>
                <td><label>
                    <input class="form-control amount-input"
                           min="1"
                           required
                           step="1" th:field="*{sales[__${saleStat.index}__].productNumber}"
                           th:name="|sales[${saleStat.index}].productNumber|" th:value="${sale.productNumber}"
                           type="number">
                </label></td>
                <td th:text="${storeProducts.get(sale.storeProductUpc).sellingPrice * sale.productNumber}"></td>
                <td th:text="${storeProducts.get(sale.storeProductUpc).sellingPrice * sale.productNumber * vatCoefficient}"></td>
                <td>
                    <button class="btn btn-danger" onclick="removeSaleRow(this)" type="button">
                        Delete
                    </button>
                </td>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="table-active">0.0000</th>
                <th class="table-active">0.0000</th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="table-dark" colspan="2">0.0000</th>
                <th></th>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center my-2">
            <button class="btn btn-primary" data-bs-target="#searchModal" data-bs-toggle="modal" type="button">
                Add sale
            </button>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-success btn-lg me-5" type="submit">Create</button>
            <a class="btn btn-secondary btn-lg" th:href="@{/check}">Cancel</a>
        </div>
    </form>
</div>


<div th:replace="~{fragments/add-sale-modal::add-sale-modal}"></div>
<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>