<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header::header-css}"></div>
    <title>500 Internal Server Error</title>
</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/header::header}"></div>

<div class="container mt-5 flex-grow-1">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Sorry, something went wrong on our end.</h4>
        <p th:text="${message}"></p>
    </div>
</div>

<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>