<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Zlagoda</title>
    <div th:replace="~{fragments/header::header-css}"></div>
    <div th:replace="~{fragments/show-password::show-password-css}"></div>
</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/header::header}"></div>

<div class="container d-flex justify-content-center text-center flex-grow-1 pt-5">
    <div class="col-xs-12 col-sm-8 col-md-5 col-sm-offset-2 col-md-offset-3 mt-5 mt-sm-3">
        <form method="post" th:action="@{/login}">
            <fieldset>
                <h1 class="mb-2">Please sign in</h1>

                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username and password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have been logged out.
                    </div>
                </div>

                <div class="form-group mb-4">
                    <input autofocus class="form-control input-lg" id="username" name="username"
                           placeholder="username" required type="text"/>
                </div>
                <div class="form-group mb-4">
                    <div class="input-group">
                        <input class="form-control input-lg" id="password" name="password" placeholder="password"
                               required type="password"/>
                        <button id="toggle-password" onclick="toggleShowPassword()" type="button">
                            <i class="fa fa-regular fa-eye" id="eye-icon" style="font-size:16px"></i>
                        </button>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <input class="btn btn-block btn-primary px-5" type="submit" value="Sign In"/>
                </div>

            </fieldset>
        </form>
    </div>
</div>

<div th:replace="~{fragments/footer::footer}"></div>
<div th:replace="~{fragments/show-password::show-password-function}"></div>

</body>
</html>