<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>

    <div th:replace="~{fragments/header::header-css}"></div>

</head>
<body>

<div th:replace="~{fragments/header::header}"></div>

<div class="container-fluid">
    <div class="d-flex justify-content-between mx-5">
        <h1>Employees</h1>
        <a class="btn btn-primary mb-3" th:href="@{/employee/new}">Add New Employee</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Patronymic</th>
            <th>Role</th>
            <th>Salary</th>
            <th>Date of birth</th>
            <th>Date of start</th>
            <th>Phone number</th>
            <th>City</th>
            <th>Street</th>
            <th>Zip code</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.username}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.surname}"></td>
            <td th:text="${employee.patronymic}"></td>
            <td th:text="${employee.role}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${employee.dateOfBirth}"></td>
            <td th:text="${employee.dateOfStart}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <td th:text="${employee.city}"></td>
            <td th:text="${employee.street}"></td>
            <td th:text="${employee.zipCode}"></td>
            <td>
                <a class="btn btn-info" th:href="@{/employee/edit/{id}(id=${employee.id})}">Edit</a>
            </td>
            <td>
                <a class="btn btn-danger" th:href="@{/employee/delete/{id}(id=${employee.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>